{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Employee Management</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container article-list">
        <h1>Employees</h1>
        <a href="{% url 'create' %}">Add New Employee</a>
        <ul>
            {% for article in articles %}
                <li>
                    <a href="{% url 'article' article.pk %}">{{ article.name }}</a>
                    <div class="actions">
                        <a href="{% url 'update' article.pk %}">Edit</a>
                        <a href="{% url 'delete' article.pk %}">Delete</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
