{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ article.name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container article-detail">
        <h1>{{ article.name }}</h1>
        <p>{{ article.description }}</p>
        <p><strong>Joined Date:</strong> {{ article.joinedon }}</p>
        <p><strong>Department</strong> {{ article.department }}</p>
        <div class="actions">
        <a href="{% url 'update' article.pk %}">Edit</a>
        <a href="{% url 'delete' article.pk %}">Delete</a>
        <a href="{% url 'articleList' %}">Back</a>
        </div>
    </div>
</body>
</html>

